# IDE related
.idea/
.project/

# Testing and development
.vagrant/
spec/fixtures/modules/
spec/fixtures/manifests/
.rspec_system/
.vagrant/
/Vagrantfile
/log

# Ruby and RVM
.ruby-version
.rvmrc

# Bundler
Gemfile.lock
.bundle/

# Puppet module generated
pkg/
